# -r why? beacuse it will read the file .txt one by one and install them.... 
pymongo==4.2.0 # will be install in virtual envirment venv

-e . # to make the code readibility and if anyone else want to use the code he/she can.. # editable mode
# why? generally setup.py file is run then req.txt is run , So no to do again and again for running the setup.py file we add -e . at the last in req.txt, which triggers the setup.py file at the end and run the find_package() method.


